body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .gallery-item {
    height: 1100px;
    flex-shrink: 0;
  }
  
  .gallery-link {
    display: block;
    text-decoration: none;
  }
  
